<%= form_for @campaign, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.hidden_field :owner_id %>

<h2>Duration</h2>
<div class="input date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <div style="display: inline-block;">
  
  <%= f.text_field :start_date, :class => "datepicker span2", :size => "16" %>
  <label style="color: #bbb;">Start date</label>
</div>
  <div style="display: inline-block;">
  
  <%= f.text_field :end_date, :class => "datepicker span2", :size => "16" %>
  <label style="color: #bbb;">End date</label>
</div>

<br><br>
<h2>Message to sponsors</h2>
<%= f.text_area :message, :id => 'message_count', :style => "width: 500px;", :rows => 3 %>
</div>
<br>


<h2>Charity</h2>
  <ul class="nav nav-pills">
  <li style="width: 200px; text-align: center; border: 1px solid #bbb; border-radius: 5px;" class="dropdown" id="menu1">
    <a style="color: #6699cc; font-size: 20px;" class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Select
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="charity" style="background-image: url('/assets/Leukemia-lymphoma.png');"><a id="charity1" data-charity-id="1">The Leukemia & Lymphoma Society</a></li>
      <li class="charity" style="background-image: url('/assets/charity-water.png');"><a id="charity2" data-charity-id="2">charity: water</a></li>
      <li class="charity" style="background-image: url('/assets/food-bank.png');"><a id="charity3" data-charity-id="3">San Francisco Food Bank</a></li>
      <li class="charity" style="background-image: url('/assets/not-for-sale.png');"><a id="charity4" data-charity-id="4">Not For Sale</a></li>
      <li class="charity" style="background-image: url('/assets/dave-eggers.png');"><a id="charity5" data-charity-id="5">826 Valencia</a></li>
    </ul>
  </li>
</ul>

<div id="charity-details">
  <div id="charity1-details" class="hide">
    The Leukemia & Lymphoma Society (LLS) is the largest voluntary cancer research agency specifically focused on finding cures and better treatments for blood cancer patients. With the scope and scale to fund many projects at the same time, LLS supports hundreds of cancer scientists around the world. 
    <a href="http://www.lls.org/">http://www.lls.org/</a>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/2MVcG9lzRYA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div id="charity2-details" class="hide">
    charity: water is a non-profit organization bringing clean and safe drinking water to people in developing nations. When we started charity: water, we made a bold promise to the general public — 100% of their donations would go directly to the field to fund water projects. We'd find another way to cover our operating expenses. And we'd even reimburse credit card fees when donations were made online. 
    <a href="http://www.charitywater.org/">http://www.charitywater.org/</a>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/BCHhwxvQqxg" frameborder="0" allowfullscreen></iframe>
  </div>

  <div id="charity3-details" class="hide">
    Incorporated in 1987, the San Francisco Food Bank collects, sorts, inspects and repackages thousands of pounds of food, then distributes it to soup kitchens, neighborhood grocery centers, school programs and seniors in need. The Food Bank provides food to over 200,000 people in San Francisco and Marin counties each week. We will distribute 43.5 million pounds of food to the community this year, enough to feed 93,000 meals every day. Did you know that effective 1/1/11 the San Francisco Food Bank and Marin Food Bank have merged to create a combined organization to accomplish the goal of feeding more people at risk of hunger in Marin?
    <a href="http://www.sffoodbank.org/"/>http://www.sffoodbank.org/</a>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/aA7NN8PjNLk" frameborder="0" allowfullscreen></iframe>
  </div>

  <div id="charity4-details" class="hide">
    Not For Sale creates tools that engage business, government, and grassroots in order to incubate and grow social enterprises to benefit enslaved and vulnerable communities.
    Together, we can end slavery in our lifetime.
    <a href="http://www.notforsalecampaign.org/" />http://www.notforsalecampaign.org/</a>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/YGAaWjsAOCA" frameborder="0" allowfullscreen></iframe>
  </div>

  <div id="charity5-details" class="hide">
    826 Valencia is a nonprofit organization dedicated to supporting students ages six to eighteen with their writing skills, and to helping teachers inspire their students to write. Our work is based on the understanding that strong writing skills are fundamental to future success and that great leaps in learning can happen when trained tutors work one-on-one with students.
    <a href="http://826valencia.org">http://826valencia.org</a>
    <object width="526" height="374"><param name="movie" value="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"></param><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always"/><param name="wmode" value="transparent"></param><param name="bgColor" value="#ffffff"></param><param name="flashvars" value="vu=http://video.ted.com/talk/stream/2008/Blank/DaveEggers_2008-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/DaveEggers-2008.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=233&lang=en&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=dave_eggers_makes_his_ted_prize_wish_once_upon_a_school;year=2008;theme=the_creative_spark;theme=ted_prize_winners;theme=words_about_words;theme=listening_to_teachers;theme=how_we_learn;event=TED2008;tag=TED+Prize;tag=activism;tag=children;tag=collaboration;tag=culture;tag=design;tag=education;tag=entertainment;tag=global+issues;tag=writing;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;" /><embed src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf" pluginspace="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" bgColor="#ffffff" width="526" height="374" allowFullScreen="true" allowScriptAccess="always" flashvars="vu=http://video.ted.com/talk/stream/2008/Blank/DaveEggers_2008-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/DaveEggers-2008.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=233&lang=en&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=dave_eggers_makes_his_ted_prize_wish_once_upon_a_school;year=2008;theme=the_creative_spark;theme=ted_prize_winners;theme=words_about_words;theme=listening_to_teachers;theme=how_we_learn;event=TED2008;tag=TED+Prize;tag=activism;tag=children;tag=collaboration;tag=culture;tag=design;tag=education;tag=entertainment;tag=global+issues;tag=writing;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;"></embed></object>
  </div>
</div>


<h2>Logging</h2>
        <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1" checked="checked">
                Use our awesome iPhone app
              </label>
                            <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                Record my mileage manually
              </label>
            </div>
          </div>


  <br>

<!-- cyrus stuff -->
  
  <%= f.hidden_field :charity_id %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-large' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                campaigns_path, :class => 'btn btn-large' %>
  </div>
<% end %>
