<%= form_for @campaign, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :owner_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :owner_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end_date, :class => 'date_select' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :charity_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :charity_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'message_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-large' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                campaigns_path, :class => 'btn btn-large' %>
  </div>
<% end %>


<!-- begin static-->

<h2>Duration</h2>
<div class="input date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <div style="display: inline-block;">
  <label>Start date</label>
  <input class="datepicker span2" size="16" type="text" value="12-02-2012">
</div>
  <div style="display: inline-block;">
  <label>End date</label>
  <input class="datepicker span2" size="16" type="text" value="12-02-2012">
</div>
</div>

<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn active btn-large">One Month</button>
  <button type="button" class="btn btn-large">3 Months</button>
</div>
<br>

<h2>Charity</h2>
<hr>
  <div class="span3" style="margin-left: 0px; height: 300px; width: 600px; overflow: auto; border: 1px solid #999;">
    <table class="table table-striped" style="font-size: 20px;" >
      <tbody>
        <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="line-height: 10px; font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
               <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
                <tr>
          <td style="width: 75px;"><img src="http://placekitten.com/75/75"></td>
          <td style="padding: 10px;"><a href="#">Red Cross</a><br><span style="font-size: 11px;">Some other information about the charity and what they do many they are so great you have no idea.</span></td>
        </tr>
      </tbody>
    </table>

    </div>

<h2>
