<!-- begin static-->

<h2>Duration</h2>
<div class="input date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <div style="display: inline-block;">
  
  <input class="datepicker span2" size="16" type="text" value="12-02-2012">
  <label style="color: #bbb;">Start date</label>
</div>
  <div style="display: inline-block;">
  
  <input class="datepicker span2" size="16" type="text" value="12-02-2012">
  <label style="color: #bbb;">End date</label>
</div>

<br><br>
<h2>Message to sponsors</h2>
<textarea id="message_count" style="width: 500px;"></textarea>
</div>
<br>


<h2>Charity</h2>
  <ul class="nav nav-pills">
  <li style="width: 200px; text-align: center; border: 1px solid #bbb; border-radius: 5px;" class="dropdown" id="menu1">
    <a style="color: #6699cc; font-size: 20px;" class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Select
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="charity" style="background-image: url('http://placekitten.com/50/50');"><a href="#"  id="charity1">The Leukemia & Lymphoma Society (LLS)</a></li>
      <li class="charity" style="background-image: url('http://placekitten.com/50/50');"><a href="#" id="charity2">Yele Haiti</a></li>
      <li class="charity" style="background-image: url('http://placekitten.com/50/50');"><a href="#" id="charity3">Not For Sale</a></li>
      <li class="charity" style="background-image: url('http://placekitten.com/50/50');"><a href="#" id="charity1">Red Cross</a></li>
    </ul>
  </li>
</ul>

  <div id="charity1-details" class="hide">
    The Leukemia & Lymphoma Society (LLS) is the largest voluntary cancer research agency specifically focused on finding cures and better treatments for blood cancer patients. With the scope and scale to fund many projects at the same time, LLS supports hundreds of cancer scientists around the world. 
    <a href="http://www.lls.org/">http://www.lls.org/</a>
  </div>


<h2>Logging</h2>
        <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                Use our awesome iPhone app
              </label>
            </div>
          </div>


  <br>

<!-- cyrus stuff -->

<%= form_for @campaign, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :owner_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :owner_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end_date, :class => 'date_select' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :charity_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :charity_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'message_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-large' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                campaigns_path, :class => 'btn btn-large' %>
  </div>
<% end %>
