<%- model_class = @campaign.class -%>
    
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="row">
  <div class="span8">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:owner_id) %>:</strong></dt>
      <dd><%= @campaign.owner_id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
      <dd><%= @campaign.start_date %></dd>
      <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
      <dd><%= @campaign.end_date %></dd>
      <dt><strong><%= model_class.human_attribute_name(:charity_id) %>:</strong></dt>
      <dd><%= @campaign.charity_id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
      <dd><%= @campaign.message %></dd>
    </dl>

    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  campaigns_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_campaign_path(@campaign), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  campaign_path(@campaign),
                  :method => 'delete',
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-danger' %>
    </div>
  </div>

  <div class="span4">
    <% if @campaign.owner_id == session[:user_id] %>
      blah
    <% elsif @campaign.sponsors.find_by_id(session[:user_id]).nil? %>
      <%= render "campaign_user_relationships/add_sponsor_form", :campaign => @campaign %>
    <% else %>
      currently a sponsor
    <% end %>
  </div>
</div>

<div id="fundraiser">
   <div id="photo">  
      <!-- Facebook Photo-->

   </div>

   <div id="details">
      <!-- Facebook Profile Details -->

   </div>
</div>

<div id="charity">
   <div id="media">
      <!-- photo or video -->

   </div>

   <div id="details">
      <!-- Message from charity -->

   </div>
</div>

<div id="status">
   <div id="timeframe">

   </div>

   <div id="progress">

      <div id="distance">

      </div>

      <div id="money-raised">

      </div>

      <!-- Logged in User-only -->
      <div id="log-activity">

      </div>
   </div>
</div>

<div id="sponsors">
   <div id="sponsor-names">

   </div>

   <div id="sponsor-new">
      <!-- Button to Sponsor -->

   </div>
</div>
</div>