<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <% if session[:user_id].nil? %>
        <%= link_to "GiveGo", root_path, :class => "brand" %>
      <% else %>
        <%= link_to "GiveGo", campaigns_path, :class => "brand" %>
      <% end %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
        <% if session[:access_token] %>
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li style="margin: 10px; font-size: 17px; color: #999;">Raised $100</li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", logout_path %></li>
            </ul>
          </li
        </ul>
        <% end %>          
      </div>
 
    </div>
  </div>
</div>